*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
 }
.aa{
    margin: 0 auto;
    position: relative;
    height: 101px;
    width: 550px;
}
.banner{
    position: relative;
    height: 731px;
    background: url("https://www.beatsbydre.com/content/dam/beats/web/home/hero_sliders/cny-2019/cny_zhcn_homepagehero_dekstop.jpg.large.1x.jpg") no-repeat center;
   background-size: 100%;
}
.con{
    position: absolute;
    top: 300px;
    left: -290px;
}
.con>h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 11px;
}

.con>p{
    color: #e3e3e3;
    margin: 30px 0 50px 0;
}
.tan{
    display: inline-block;
    width: 110px;
    height: 40px;
    border: 2px solid #e3e3e3;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    color: #e3e3e3;
}
.buy{
    display: inline-block;
    width: 160px;
    height: 40px;
    color: #e3e3e3;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    background: url("../images/buy_btn_bg.jpg");
    transition: all 1s;
}
.buy:hover{
    color: #fff;
    background-position: bottom;
}
.product{
    background: #f7f7f8;
    padding: 50px 0;
}
.product h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.product_list{
    display: flex;
    justify-content: space-between;
}
.list_1,.list_2{
    width: 30%;
    background: #fff;
    overflow: hidden;
}
.list_2{
 text-align: center;
}
.list_1>ul>li>img,.list_2>ul>li>img{
    width: 250px;
    height: 250px;
}
.list_1>ul{
    width: 2000px;
    position: relative;
    left: -178px;
}
.list_1>ul>li{
    display: inline-block;
}
.list_1>p,.list_2>p{
    text-align: center;
    margin: 5px 0;
}
.list_1>p:nth-child(3),.list_2>p:nth-child(3){
    font-size: 14px;
    color: #a7a6a6;
}
.li_a{
    display: none;
}
.li_a>a{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px ;
}
.li_a>a:nth-child(1){
    background: #000;
}
.li_a>a:nth-child(2){
    background: #a7a6a6;
}
.bg_font,.li_a{
    height: 20px;
}
.music{
    position: relative;
}
.img_a{
    margin-top: 50px;
    margin-right: 16%;
    position: relative;
    overflow: hidden;
}
.img_a>img{
    transition: all .5s;
}
.img_a>img:hover,.music_3_img>img:hover{
    transform: translate3d(0px, 0px, 0px) scale(0.98, 0.98);
}
.rec {
    position: absolute;
    bottom:  0;
    right: 0;
    width: 30%;
    padding: 4%;
    background: #fff;
}
.rec>h3,.open_in>h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.rec>p,.open_in>p{
    color: #8c8c8c;
    font-size: 14px;
}
.rec>a,.open_in>a{
    margin-top: 40px;
}
.music_3{
    position: relative;
    top: 40px;
}
.music_3_img{
    text-align: right;
}
.music_3_img>img{
    transition: all .5s;
}
.open_in{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding: 4%;
    background: #fff;
}
.tan{
    display: inline-block;
    width: 96px;
    height: 40px;
    border: 2px solid #8c8c8c;
    color: #000;
    background: url("../images/btn_bg.jpg") no-repeat;
    transition: all 1s;
}
.tan:hover{
    color: #fff;
    background-position: bottom;
}
.product_support{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.product_support .support_h1{
    margin-bottom: 10px;
}
.product_support>p{
    color: #8c8c8c;
}
/*加入大家庭*/
.join_family{
    background: #fff;
    padding: 40px 0;
}
.join_one{
    display: flex;
    justify-content: center;
}
.join_ul>li>div{
    width: 117px;
    height: 135px;
    margin: 0 auto;
}
.join_ul>li{
    text-align: center;
    padding:0 40px;
    font-size: 17px;
    color: #8c8c8c;
}
.join_ul{
    display: flex;
}
.language{
    background: url("../images/img/index-info.png");
}
.headset{
    background: url("../images/img/index-repair.png");
}
.to_update{
    background: url("../images/img/index-better.png");
}
.set_up{
    background: url("../images/img/index-services.png");
}
.language:hover{
    background: url("../images/img/index-info-hover.png");
}
.headset:hover{
    background: url("../images/img/index-repair-hover.png");
}
.to_update:hover{
    background: url("../images/img/index-better-hover.png");
}
.set_up:hover{
    background: url("../images/img/index-services-hover.png");
}
.erWeiMa{
    width: 140px;
    height: 140px;
    background: url("../images/img/qrcode.jpg");
    margin: 0 auto;
}
.lianXi{
    text-align: center;
}
.lianXi>h1,.lianXi>p,.lianXi .erWeiMa{
    margin: 20px auto;
}